In [13]:
html_doc = """
<!DOCTYPE html>
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
​
<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
​
<p class="story">...</p>
</html>
Collapse

"""

In [14]:
from bs4 import BeautifulSoup

In [15]:
soup=BeautifulSoup(html_doc, 'html.parser')

In [16]:
type(soup)

bs4.BeautifulSoup

In [17]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  ​
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  ​
  <p class="story">
   ...
  </p>
 </body>
</html>
Collapse

In [18]:
soup.title

In [19]:
soup.title.name

'title'

In [20]:
soup.title.string

"The Dormouse's story"

In [21]:
soup.title.parent

In [22]:
soup.title.parent.name

'head'

In [23]:
soup.title.parent.string

"The Dormouse's story"

In [24]:
soup.p

In [25]:
soup.p['class']

['title']

In [26]:
soup.find_all('p')

[<p class="title"><b>The Dormouse's story</b></p>,
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [27]:
soup.find_all('a')[0].get('href')

'http://example.com/elsie'

In [28]:
for atag in soup.find_all('a'):
    print(atag.get('href'))

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

## option 2: using Beautiful soup "the CSS way"

In [29]:
soup.select('#link1')

In [30]:
soup.select('a')[0].text

'Elsie'

In [31]:
soup.select('a')[0].get_text()

'Elsie'

In [32]:
for atag in soup.select('a'):
    print(atag.text)

Elsie
Lacie
Tillie

In [33]:
#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(5) > td.titleColumn > a

In [34]:
# <a href="/title/tt0050083/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=e31d89dd-322d-4646-8962-327b42fe94b1&amp;pf_rd_r=5R1WKWW0BTDAHE8E65F2&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_5" title="Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb">12 Angry Men</a>

In [35]:
# <h4>
# <span class="unbold">12.</span>
# Forrest Gump
# <span class="unbold">(1994)</span>
# </h4>

In [36]:
#chart-content > div:nth-child(6) > div:nth-child(2) > div > a > span

In [37]:
# conda install -c anaconda requests

In [38]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [39]:
url = "https://m.imdb.com/chart/top/"

In [40]:
response = requests.get(url)
response.status_code     # 200 mean sucess (status code)

200

In [45]:
soup = BeautifulSoup(response.content, 'html.parser')

In [42]:
# print(soup.prettify())

In [51]:
soup.select("#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(4) > td.titleColumn > a")
#sian

[]

In [48]:
soup.select("td.titleColumn")

[]

In [47]:
soup.select("td.titleColumn a")[0].text

IndexError: list index out of range

In [ ]:
soup.select("td.titleColumn a")[0]['title']

## Now make it work for all the movies

In [49]:
# movie_lst=soup.select("td.titleColumn a")
# yr_lst = soup.select("td.tittleColumn span.secondaryInfo")

In [ ]:
soup.select("td.titleColumn span.second...")[0].texttitle= []

In [53]:
from 

title=[]
dir_stars = []
year = []

len_movies = len(movie_lst)


for i in range(len_movies):
    title.append(soup.select("td.titleColumn a")[i].text)
    dir_stars.append(soup.select("td.titleColumn a")[i]['title'])
    year.append(soup.select("td.titleColumn span.secondaryInfo")[i].text)

In [54]:
year_clean = [yr.strip(')').strip('(') for yr in year]

[]

In [ ]:
actor1=[]
actor2=[]
dir1=[]
for dir_star in dir_stars:
    temporary_people = dir.split(",") # only 3
    dir1.append(temporary_people[0].replace (' (dir.)',''))
    actor1.append(temporary_people[1].replace(' ', ''))
    actor1.append(temporary_people[2].replace(' ', ''))

In [55]:
movies = pd.DataFrame({'year':year,
                      'title': title,
                      'dir_stars': dir_stars})